<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Profile Dashboard</title>
</head>
<body>

<h1>Profile Dashboard</h1>


<div  th:object="${profileInfo}">

    <p>
        <label>First Name</label>
        <p  th:text="*{firstName}">First Name</p>


    </p>

    <p>
        <label>Last Name</label>
        <p th:text="*{lastName}">Last Name</p>


    </p>

    <p>
        <label>Current Date</label>
        <p  th:text="*{timestamp}">Current Date</p>

    </p>


</div>


</body>
</html>


